* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #333;
}

canvas {
    --size: min(calc(100svw / 9), calc(100svh / 16));

    width: calc(9 * var(--size));
    height: calc(16 * var(--size));

    background-color: #444;
}
